*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
body{
    height: 100vh;  
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.container{
    display: grid;
    grid-template-rows: 3rem 1fr;
    height: 70%;
    width:70% ;
    gap: 2rem;
}
h1 {
   text-align: start;
}
.info{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
}
input{
    height: 2rem;
    width: 25rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}
.info div{
    display: grid;
    grid-template-columns: 15rem 1fr;
}
img{
    width: 10rem;
    border-radius: 50%;
}

/* RESPONSIVENESS */
@media screen and (max-width:800px) {
    .info div, .container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    input{
        width: 20rem;
    }
}
@media screen and (max-width:420px) {
   
    input{
        width: 15rem;
    }
}



